body {
    background-color: lightblue;
}
h1 {
    color: navy;
    margin-left: 20px;
}
.navbar{
	margin-top: 20px;
}
	
.modal-header, h4, .close {
   background-color: #5cb85c;
   color:white !important;
   text-align: center;
   font-size: 30px;
}
.modal-footer {
   background-color: #f9f9f9;
}
.csv{
	top: 155;
    left: 355;
    position: absolute;
}
.buttons{
	top: 155;
    left: 555;
    position: absolute;
    z-index: 1;
    visibility: show;
}
.alerta{
	top: 85;
    left: 255;
    position: absolute;
    z-index: 1;
    visibility: show;
}
.tablainfo{
	top: 155;
    left: 350;
    position: absolute;
    z-index: 1;
    visibility: show;
}